<div id="modal-outlet" [class.hidden]="modalState() === 'hidden' && !isInTransition()">
	<div class="overlay" [@fadeAnimation]="{ value: modalState(), params: animationParams() }"></div>

	<div class="wrapper">
		@if (modalState() !== 'hidden') {
			<div
				#modalContainer
				class="container shadow-top-xl"
				[@slideAnimation]="{ value: modalState(), params: animationParams() }"
				(@slideAnimation.done)="onAnimationDone($event)"
			>
				<div class="header flex-row justify-between align-center p-4 pb-0">
					<h4 class="color-contrast-mid">{{ title() }}</h4>

					<button
						appButton
						type="button"
						color="contrast-mid"
						icon="xmark"
						[iconSize]="22"
						(click)="close()"
					>
						<!---->
					</button>
				</div>

				<ng-container #modalContent />
			</div>
		}
	</div>
</div>
