<section class="flex-col gap-6">
	<form [formGroup]="form" (ngSubmit)="createMatch()" class="flex-col gap-6">
		<div class="flex-col gap-2">
			<h4>Game</h4>

			@let gamesValue = games();

			@if (gamesValue === null || gamesValue.length === 0) {
				<p>{{ gamesStoreIsLoading() ? 'Loading...' : 'No games' }}</p>
			} @else {
				<select appSelect formControlName="gameUuid">
					<option value="">Select game</option>

					@for (game of games(); track game.uuid) {
						<option [attr.value]="game.uuid">{{ game.name }}</option>
					}
				</select>
			}

			<button appButton class="mt-2" type="button" (click)="addGame()">
				<div class="flex-row gap-2 align-center">
					<app-svg icon="grid-2-plus" [size]="16" color="surface-primary" />Add Game
				</div>
			</button>
		</div>

		<div class="flex-col gap-2">
			<h4>Players</h4>

			<ul class="flex-col gap-2" formGroupName="players">
				@for (player of formPlayersLoaded() ? playersList() : []; track player.uuid) {
					<li>
						<div #label class="flex-row gap-2 align-center">
							<app-svg
								[style.color]="player.computed.colorValue"
								[icon]="player.computed.iconValue"
								[size]="20"
								squared
							/>
							{{ player.nick }} <span class="fw-sm">{{ player.name }}</span>
						</div>
						<input
							appInput
							type="checkbox"
							[label]="label"
							[formControlName]="player.uuid"
							[value]="player.uuid"
							(change)="toggleSelection($event)"
						/>
					</li>
				} @empty {
					<li>{{ playerStoreIsLoading() ? 'Loading...' : 'No players' }}</li>
				}
			</ul>

			<button appButton class="mt-2" type="button" (click)="addPlayer()">
				<div class="flex-row gap-2 align-center">
					<app-svg icon="user-plus" [size]="16" color="surface-primary" />Add player
				</div>
			</button>
		</div>

		<div class="flex-col gap-2">
			<h4>Others</h4>

			<input
				appInput
				formControlName="name"
				label="Match name"
				placeholder="The gamer cousins"
				type="text"
			/>
		</div>

		<button appButton type="submit" color="accent">Create Match</button>
	</form>
</section>
