@let iconValue = icon();

@if (iconValue !== null) {
	<div #badge class="badge" [style.padding]="size() * 0.4" [style.color]="color()">
		<app-svg [icon]="iconValue" [size]="size() * 0.4" squared />

		<svg
			class="nick"
			[attr.width]="size()"
			[attr.height]="size()"
			[attr.viewBox]="viewBox()"
			[style.border-color]="color()"
		>
			<defs><path id="path-top" [attr.d]="createTopCircle()" /></defs>

			<text [attr.font-size]="fontSize()">
				<textPath href="#path-top" [attr.fill]="color()" startOffset="50%" text-anchor="middle">
					{{ player().nick }}
				</textPath>
			</text>
		</svg>

		@if (debug()) {
			<svg [attr.width]="size()" [attr.height]="size()" [attr.viewBox]="viewBox()" class="debug">
				<path [attr.d]="createTopCircle()" fill="none" stroke-width="1" />
			</svg>
		}

		<svg
			class="nick"
			[attr.width]="size()"
			[attr.height]="size()"
			[attr.viewBox]="viewBox()"
			[style.border-color]="color()"
		>
			<defs><path id="path" [attr.d]="createBottomCircle()" /></defs>

			<text [attr.font-size]="fontSize()">
				<textPath href="#path" [attr.fill]="color()" startOffset="50%" text-anchor="middle">
					{{ player().nick }}
				</textPath>
			</text>
		</svg>

		@if (debug()) {
			<svg [attr.width]="size()" [attr.height]="size()" [attr.viewBox]="viewBox()" class="debug">
				<path [attr.d]="createBottomCircle()" fill="none" stroke-width="1" />
			</svg>
		}
	</div>
}
