:host {
	$border: 3px;

	display: flex;
	align-self: center;

	.badge {
		position: relative;

		display: flex;
		place-content: center center;

		aspect-ratio: 1;

		font-weight: bold;

		border: solid $border transparent;
		border-radius: 50%;

		.nick {
			position: absolute;
		}

		.debug {
			position: absolute;
			top: 0;
			border: solid 1px lime;

			path {
				stroke: lime;
			}
		}
	}
}
