:host {
	$border: 3px;

	position: relative;
	display: flex;
	aspect-ratio: 1;

	.badge {
		display: flex;
		align-items: center;
		justify-content: center;

		aspect-ratio: 1;

		font-weight: bold;

		.nick {
			position: absolute;
			border: solid $border transparent;
			border-radius: 50%;
		}

		.debug {
			position: absolute;
			top: 0;
			border: solid 1px rgb(0 255 0);

			path {
				stroke: rgb(0 255 0);
			}
		}
	}
}
