.header {
	padding-top: var(--safe-padding-top);
	border-bottom: solid 1.5px var(--color-primary);

	.logo {
		height: 24px;
		color: var(--color-primary);
	}

	[appRouterLink]:not(.logo) {
		color: var(--color-primary-mid);

		&.active {
			color: var(--color-primary);
		}
	}
}
