<section class="flex-col gap-4">
	<h4>Previous statistics</h4>

	<button appThemed color="accent" appRouterLink="/match/new">New match</button>

	<button appThemed (click)="createInitialData()">Insert Game and Players</button>

	<button appThemed (click)="eraseAllData()">Erase all Indexed Data Base data</button>

	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse error consequuntur distinctio
		earum modi voluptas, tenetur, magnam quos suscipit nulla libero nobis perspiciatis magni dolorem
		est dicta a nam dignissimos.
	</p>

	<img src="https://picsum.photos/800/600.webp?random=1" alt="photo" />

	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita reiciendis ex, ad magnam quis
		necessitatibus voluptate quaerat recusandae molestias doloremque corporis commodi molestiae
		impedit. Quis sapiente maiores perferendis in autem?
	</p>

	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur enim deserunt labore nihil
		necessitatibus dolores perspiciatis exercitationem repellendus blanditiis fugiat, cum tenetur
		suscipit magni magnam dolorem, alias sequi! Cupiditate, laudantium?
	</p>

	<input appThemed type="text" label="Label" value="42" placeholder="Placeholder" />

	<input
		appThemed
		type="text"
		value="42"
		[label]="someOptions()[4]?.label || ''"
		placeholder="Placeholder"
		disabled
	/>

	<select appThemed label="Number">
		<option value="">Choose an option</option>
		<option value="one">one</option>
		<option value="two" selected>two</option>
		<option value="three">three</option>
	</select>

	<select appThemed [label]="someOptions()[4]?.label || ''" #inputThemed>
		@for (options of someOptions(); track options.value) {
			<option [value]="options.value">
				{{ options.label }}
			</option>
		}
	</select>

	<button appThemed (click)="changeValue()">Change value</button>

	<select appThemed label="Day of the week" searchable [maxVisibleOptions]="5">
		<option value="">Choose an option</option>
		@for (weekday of weekdays; track weekday) {
			<option [value]="weekday" [selected]="weekday === currentWeekday">
				{{ weekday | titlecase }}
			</option>
		}
	</select>

	<select>
		<option value="" selected>Select a number</option>
		<option value="one">one</option>
		<option value="two">two</option>
		<option value="three">three</option>
	</select>

	<select>
		<option value="" selected>Select a number</option>
		<option value="one">one</option>
		<option value="two">two</option>
		<option value="three">three</option>
	</select>

	<img src="https://picsum.photos/800/600.webp?random=2" alt="photo" />

	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis officia mollitia harum facilis
		obcaecati error! Perferendis reprehenderit obcaecati rerum esse, itaque quibusdam, accusamus,
		dolore optio molestiae sunt autem deleniti veritatis.
	</p>

	<img src="https://picsum.photos/800/600.webp?random=3" alt="photo" />

	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, ducimus, qui culpa eum error
		quibusdam vel velit dolorum animi esse, tempora numquam. Sit, iste provident consequuntur error
		alias dicta aliquam?
	</p>
</section>
