<section class="flex-col gap-4 align-center">
	<p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta officia accusamus voluptatibus
		assumenda voluptatem mollitia commodi at beatae voluptatum odio modi recusandae vero temporibus,
		similique dolor eius sint ad culpa.
	</p>

	<app-button [routerLink]="'/new-game'">NUEVA PARTIDA</app-button>

	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse error consequuntur distinctio
		earum modi voluptas, tenetur, magnam quos suscipit nulla libero nobis perspiciatis magni dolorem
		est dicta a nam dignissimos.
	</p>
</section>
