<section class="flex-col gap-4">
	<h4>Previous statistics</h4>

	<button appThemed color="accent" appRouterLink="/match/new">New match</button>

	<button appThemed (click)="createInitialData()">Insert Game and Players</button>

	<button appThemed (click)="eraseAllData()">Erase all Indexed Data Base data</button>

	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse error consequuntur distinctio
		earum modi voluptas, tenetur, magnam quos suscipit nulla libero nobis perspiciatis magni dolorem
		est dicta a nam dignissimos.
	</p>

	<img src="https://picsum.photos/800/600.webp?random=1" alt="photo" />

	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita reiciendis ex, ad magnam quis
		necessitatibus voluptate quaerat recusandae molestias doloremque corporis commodi molestiae
		impedit. Quis sapiente maiores perferendis in autem?
	</p>

	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur enim deserunt labore nihil
		necessitatibus dolores perspiciatis exercitationem repellendus blanditiis fugiat, cum tenetur
		suscipit magni magnam dolorem, alias sequi! Cupiditate, laudantium?
	</p>

	<select appThemed>
		<option value="">Select a number</option>
		<option value="one">one</option>
		<option value="two">two</option>
		<option value="three">three</option>
	</select>

	<select appThemed>
		<option value="">Select a number</option>
		<option value="one">one</option>
		<option value="two">two</option>
		<option value="three">three</option>
	</select>

	<select (change)="show($event)">
		<option value="">Select a number</option>
		<option value="one">one</option>
		<option value="two">two</option>
		<option value="three">three</option>
	</select>

	<img src="https://picsum.photos/800/600.webp?random=2" alt="photo" />

	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis officia mollitia harum facilis
		obcaecati error! Perferendis reprehenderit obcaecati rerum esse, itaque quibusdam, accusamus,
		dolore optio molestiae sunt autem deleniti veritatis.
	</p>

	<img src="https://picsum.photos/800/600.webp?random=3" alt="photo" />

	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, ducimus, qui culpa eum error
		quibusdam vel velit dolorum animi esse, tempora numquam. Sit, iste provident consequuntur error
		alias dicta aliquam?
	</p>
</section>
