<ul class="buttons flex-row gap-6 justify-center">
	<li>
		<button
			class="button surface-contrast color-primary p-4"
			[disabled]="disabledButton().get(MatchButton.PREVIOUS)"
		>
			<app-svg icon="backward" squared />
		</button>
	</li>
	<li>
		<button
			class="button surface-contrast color-primary p-4"
			[disabled]="disabledButton().get(MatchButton.STOP)"
		>
			<app-svg icon="stop" squared />
		</button>
	</li>
	<li>
		@let timerIsRunningValue = timerIsRunning();
		<button
			class="button surface-contrast color-primary p-4"
			[class]="{ play: !timerIsRunningValue }"
			(click)="dispatchButtonPressed(MatchButton.PLAY_PAUSE)"
			[disabled]="disabledButton().get(MatchButton.PLAY_PAUSE)"
		>
			<app-svg [icon]="timerIsRunning() ? 'pause' : 'play'" squared />
		</button>
	</li>
	<li>
		<button
			class="button surface-contrast color-primary p-4"
			(click)="dispatchButtonPressed(MatchButton.NEXT)"
			[disabled]="disabledButton().get(MatchButton.NEXT)"
		>
			<app-svg icon="forward" squared />
		</button>
	</li>
</ul>
