{
	"singleQuote": true,
	"trailingComma": "all",
	"overrides": [
		{
			"files": "*.html",
			"options": {
				"parser": "angular"
			}
		},
		{
			"files": "*.json",
			"options": {
				"parser": "json"
			}
		}
	]
}
