@use 'sass:map';

@use '../abstract/function' as func;
@use '../abstract/mixin' as mix;
@use '../abstract/variable' as var;

$rules: ();

@each $suffix in ('', '-light', '-dark') {
	$rules: map.merge($rules, func.utility-rules(var.$color, 'color', color, '--color', $suffix));
	$rules: map.merge(
		$rules,
		func.utility-rules(var.$color, 'surface', background-color, '--color', $suffix)
	);
}

@layer utility {
	@include mix.generate-responsive($rules);
}
