@use 'sass:map';
@use 'sass:meta';

@use '../abstract/variable' as var;
@use '../abstract/mixin' as mix;

@layer utility {
	$rules: (
		flex-col: (
			display: flex,
			flex-direction: column,
		),
		flex-row: (
			display: flex,
			flex-direction: row,
		),
		flex-wrap: (
			flex-wrap: wrap,
		),
		align-start: (
			align-items: flex-start,
		),
		align-self-start: (
			align-self: flex-start,
		),
		align-center: (
			align-items: center,
		),
		align-self-center: (
			align-self: center,
		),
		align-end: (
			align-items: flex-end,
		),
		align-self-end: (
			align-self: flex-end,
		),
		align-base: (
			align-items: baseline,
		),
		align-self-base: (
			align-self: baseline,
		),
		justify-start: (
			justify-content: flex-start,
		),
		justify-self-start: (
			justify-self: flex-start,
		),
		justify-center: (
			justify-content: center,
		),
		justify-self-center: (
			justify-self: center,
		),
		justify-end: (
			justify-content: flex-end,
		),
		justify-self-end: (
			justify-self: flex-end,
		),
		justify-base: (
			justify-content: baseline,
		),
		justify-self-base: (
			justify-self: baseline,
		),
		justify-between: (
			justify-content: space-between,
		),
		justify--self-between: (
			justify-self: space-between,
		),
		justify-around: (
			justify-content: space-around,
		),
		justify-self-around: (
			justify-self-content: space-around,
		),
		justify-evenly: (
			justify-content: space-evenly,
		),
		justify-self-evenly: (
			justify-self: space-evenly,
		),
	);

	$gap-rules: (
		gap: grid-gap,
		gapx: grid-column-gap,
		gapy: grid-row-gap,
	);

	@function get-list() {
		$list: ();

		@each $rule, $property in $gap-rules {
			$list: map.merge($list, get-rules($rule, $property));
		}

		@return $list;
	}

	@function get-rules($rule, $property) {
		$rules: ();

		@each $spacing in map.keys(var.$spacing) {
			$rules: map.merge($rules, (#{$rule}-#{$spacing}: (#{$property}: var(--spacing-#{$spacing}))));
		}

		@return $rules;
	}

	:root {
		--layout-padding: var(--spacing-4);

		@include mix.sm {
			--layout-padding: var(--spacing-8);
		}

		@include mix.lg {
			--layout-padding: var(--spacing-16);
		}
	}

	.content-fixed,
	.content-fluid {
		width: 100%;
		padding: 0 var(--layout-padding);
	}

	.content-fixed {
		margin: 0 auto;

		@each $size in map.values(var.$breakpoint) {
			@media screen and (width >= $size) {
				width: $size;
			}
		}
	}

	@include mix.generate-responsive($rules);
	@include mix.generate-responsive(get-list());
}
