@use '../abstract/mixin' as mix;
@use '../abstract/variable' as var;

$rules: (
	hide: (
		display: none,
	),
);

@include mix.generate-responsive($rules);
@include mix.generate-except-responsive($rules);
