<section class="flex-col gap-4">
	<h4 class="title color-contrast-mid">
		Playing <span class="color-contrast">{{ match()?.name ?? 'any game' }}</span> match
	</h4>

	@if (false) {
		<div class="flex-col gap-1">
			<h5>Round order</h5>

			<p>
				@for (player of playersOrder(); track player.uuid) {
					{{ player.name }} ({{ player.uuid.split('-')[0] }})
				}
			</p>
		</div>
	}

	<app-match-turns [playersCount]="playersOrder().length" [matchTurns]="matchTurns()" />

	<p>
		Playing {{ currentPlayer()?.name }} - with {{ currentTimeRunning() | showMilliseconds }} current
	</p>

	<h2 class="text-center color-accent">
		@let currentTurnValue = currentTurn();

		<app-show-milliseconds
			[time]="(currentTurnValue?.time ?? 0) + currentTimeRunning()"
			[decimals]="2"
		/>
	</h2>

	<app-match-buttons
		[timerIsRunning]="timerIsRunning()"
		[matchTurns]="matchTurns()"
		(buttonPressed)="dispatch($event)"
	/>

	@if (false) {
		<div class="flex-col gap-2">
			<h5>Events</h5>

			<ul>
				@for (event of events()?.toReversed(); track event.uuid) {
					<li>
						{{ event.type }}, {{ event.createdAt | date: 'd MMM' }} at
						{{ event.createdAt | date: 'hh:mm:ss' }}
					</li>
				}
			</ul>
		</div>
	}
</section>
