section {
	height: 100%;

	.title {
		span {
			text-decoration: underline;
			text-decoration-thickness: 2px;
		}
	}

	.turns {
		overflow: hidden;
		flex-grow: 1;

		app-match-turns {
			overflow: hidden;
			flex-grow: 1;
		}
	}
}
