<section class="flex-col px-4 pt-4 gap-4">
	<app-player-badge [player]="player()" />

	<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex-col gap-4">
		<input appInput formControlName="name" label="Name" placeholder="John Doe" type="text" />

		<input
			appInput
			formControlName="nick"
			label="Nickname"
			placeholder="JohnKiller69"
			type="text"
		/>

		<select appSelect formControlName="color">
			<option value="">Color</option>

			@for (color of colors; track $index) {
				<option [attr.value]="color.value">{{ color.name }}</option>
			}
		</select>

		<select appSelect formControlName="icon">
			<option value="">Icon</option>

			@for (icon of icons; track $index) {
				<option [attr.value]="icon.value">{{ icon.name }}</option>
			}
		</select>

		<button appButton type="submit" [disabled]="form.invalid" color="accent">
			<span class="flex-row justify-center"> Create</span>
		</button>
	</form>
</section>
