<section class="flex-col px-4 pt-4 gap-4">
	<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex-col gap-4">
		<input
			appThemed
			formControlName="name"
			label="Name"
			[placeholder]="randomGameName"
			type="text"
		/>

		<input
			appThemed
			formControlName="maxPlayers"
			label="Maximum number of players"
			placeholder="Number between 2 and 20"
			type="number"
		/>

		<select appThemed formControlName="turnType">
			<option value="">Turn type</option>

			@for (turnType of turnTypes; track $index) {
				<option
					[attr.value]="turnType.value"
					[disabled]="disabledTurnTypes.includes(turnType.value)"
				>
					{{ turnType.name }}
				</option>
			}
		</select>

		<select appThemed formControlName="turnOrder">
			<option value="">Turn order</option>

			@for (turnOrder of turnOrders; track $index) {
				<option
					[attr.value]="turnOrder.value"
					[disabled]="disabledTurnOrders.includes(turnOrder.value)"
				>
					{{ turnOrder.name }}
				</option>
			}
		</select>

		<select appThemed formControlName="victoryType">
			<option value="">Victory type</option>

			@for (victoryType of victoryTypes; track $index) {
				<option [attr.value]="victoryType.value">
					{{ victoryType.name }}
				</option>
			}
		</select>

		<button appThemed type="submit" [disabled]="form.invalid" color="accent">Create</button>
	</form>
</section>
