.turns {
	overflow: scroll;
	display: grid;
	grid-template-columns: min-content min-content 1fr min-content min-content min-content min-content;
	max-height: 100%;

	.header,
	.separator {
		grid-column: 1 / span 7;
	}

	.header {
		position: sticky;
		z-index: 1;
		top: 0;
	}

	.separator {
		border-bottom: solid 1px var(--color-contrast-mid);
	}

	.mono {
		span {
			position: relative;
			top: 1.5px;
		}

		@supports (-webkit-touch-callout: none) {
			span {
				top: 2px;
			}
		}
	}

	.turn,
	.player-nick,
	.player-name,
	.hours,
	.minutes,
	.seconds,
	.icon {
		align-items: baseline;
		padding-top: 2px;
		padding-bottom: 2px;

		&.turn {
			align-items: flex-end;

			@supports (-webkit-touch-callout: none) {
				span {
					position: relative;
					top: 2px;
				}
			}
		}

		&.mono {
			white-space: nowrap;

			span {
				position: relative;
				top: 0.5px;
			}
		}

		&.slower {
			background-color: rgb(255 220 220);
		}

		&.faster {
			background-color: rgb(220 255 220);
		}
	}
}
