<div #turns class="turns">
	@for (turn of matchTurns(); track $index; let index = $index; let last = $last) {
		@if (index % playersCount() === 0) {
			<div class="header px-2 surface-contrast-mid color-primary">
				Round #{{ index / playersCount() + 1 }}
			</div>
		}

		@let parts = turn.time | showMilliseconds;
		@let player = playerByUuid().get(turn.playerUuid);
		@let faster = turn.time !== 0 && fasterTurn().index === index;
		@let slower = turn.time !== 0 && slowerTurn().index === index;

		<p class="turn pl-2 mono fs-sm color-contrast-mid" [class]="{ faster, slower }">
			<span>#</span>
			<span class="ml-1">{{ index + 1 }}</span>
		</p>
		<p class="player-nick px-2" [class]="{ faster, slower }">
			{{ player?.nick }}
		</p>
		<p class="player-name color-contrast-mid fw-sm" [class]="{ faster, slower }">
			{{ player?.name }}
		</p>
		<p class="hours px-1 mono flex-row justify-end" [class]="{ faster, slower }">
			<span>
				@if (parts[3] !== '0') {
					{{ parts[3] }}m
				}
			</span>
		</p>
		<p class="minutes px-1 mono flex-row justify-end" [class]="{ faster, slower }">
			<span>
				@if (parts[2] !== '0') {
					{{ parts[2] }}m
				}
			</span>
		</p>
		<p class="seconds px-1 mono flex-row justify-end" [class]="{ faster, slower }">
			<span>{{ turn.time === 0 ? '-' : parts[1] }}</span>
			<span class="fs-sm">.{{ turn.time === 0 ? '--' : parts[0] }}s</span>
		</p>
		<div class="icon px-2 flex-col justify-center" [class]="{ faster, slower }">
			@if (faster) {
				<app-svg icon="rabbit" [size]="16" squared flip />
			} @else if (slower) {
				<app-svg icon="turtle" [size]="14" squared flip />
			}
		</div>
		@if (last || index % playersCount() !== playersCount() - 1) {
			<div class="separator"></div>
		}
	}
</div>
