@let model = viewModel();

<div
	class="app-select"
	[class.focused]="model.focused"
	[class.filled]="model.filled"
	[class.open]="model.isOpen"
	[class.searching]="model.isSearching"
	[class.position-top]="model.positionTop"
>
	<label [attr.for]="model.selectId">
		<span>{{ model.label }}</span>
		<ng-content></ng-content>
	</label>

	<div class="border-container flex-row justify-between align-center">
		<span class="selected-option">{{ model.selectedText }}</span>
		<span class="search-overlay">
			<input type="text" tabindex="-1" readonly [value]="model.searchText" />
		</span>
		<app-svg icon="chevron-down" [size]="18" />
	</div>

	<div class="label-container">
		<p class="label">{{ model.label }}</p>
	</div>

	<div class="app-select-options">
		<div class="options-container">
			@for (option of model.options; track option.value; let index = $index) {
				<div
					class="option"
					tabindex="-1"
					[class.disabled]="option.disabled"
					[class.selected]="option.selected"
					[class.highlighted]="option.highlighted"
					(mousedown)="$event.preventDefault()"
					(mousemove)="hoverOption(option, index)"
					(click)="selectOption(option)"
					(keydown.enter)="selectOption(option)"
				>
					@if (model.optionTemplate; as optionTemplate) {
						<ng-container *ngTemplateOutlet="optionTemplate; context: { $implicit: option }" />
					} @else {
						{{ option.label }}
					}
				</div>
			} @empty {
				<div class="no-matches">No matches found</div>
			}
		</div>
	</div>
</div>
