<div
	#wrapper
	class="app-select"
	[class.focused]="store.focused()"
	[class.filled]="store.filled()"
	[class.open]="store.isOpen()"
	[class.searching]="'' !== store.searchText()"
	[class.position-top]="positionTop()"
	[class.disabled]="store.disabled()"
>
	<label [attr.for]="selectId()">
		<span #labelText>{{ label() }}</span>
		<ng-content></ng-content>
	</label>

	<div class="border-container flex-row justify-between align-center" aria-hidden="true">
		<span class="selected-option">{{ store.selectedText() }}</span>
		<span class="search-overlay">{{ store.searchText() }}</span>
		<app-svg icon="chevron-down" [size]="18" />
	</div>

	<p class="label" aria-hidden="true">{{ label() }}</p>

	<div class="sr-status" aria-live="polite">{{ announcement() }}</div>

	<div class="app-select-options" aria-hidden="true">
		@for (option of store.visibleOptions(); track option.value; let index = $index) {
			<div
				class="option"
				tabindex="-1"
				[class.disabled]="option.disabled"
				[class.selected]="option.selected"
				[class.highlighted]="option.highlighted"
				(mousedown)="$event.preventDefault()"
				(mousemove)="hoverOption(option, index)"
				(click)="selectOption(option)"
				(keydown.enter)="selectOption(option)"
			>
				@if (optionTemplate(); as template) {
					<ng-container *ngTemplateOutlet="template; context: { $implicit: option }" />
				} @else {
					{{ option.label }}
				}
			</div>
		} @empty {
			<div class="no-matches">No matches found</div>
		}
	</div>
</div>
