app-player-badge {
	align-self: center;
	height: 80px;
}

.color-swatch {
	display: inline-block;

	width: 2.2rem;
	height: 2.2rem;
	border: 1.5px solid var(--color-contrast-mid);
	border-radius: 50%;
}
