<section class="flex-col px-4 pt-4 gap-4">
	<app-player-badge [player]="player()" />

	<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex-col gap-4">
		<input appThemed formControlName="name" label="Name" placeholder="John Doe" type="text" />

		<input
			appThemed
			formControlName="nick"
			label="Nickname"
			placeholder="JohnKiller69"
			type="text"
		/>

		<ng-template #colorOption let-option>
			<span class="flex-row align-center gap-2">
				@let color = option.value !== '' ? getColorHex(option.value) : 'var(--color-contrast-mid)';

				<span class="color-swatch" [style.background-color]="color"></span>
				{{ option.label }}
			</span>
		</ng-template>

		<select appThemed label="Color" formControlName="color" [optionTemplate]="colorOption">
			<option value="">Select a color</option>

			@for (color of colors; track $index) {
				<option [attr.value]="color.value">{{ color.name }}</option>
			}
		</select>

		<ng-template #iconOption let-icon>
			<span class="flex-row align-center gap-2">
				@let iconValue = icon.value !== '' ? icon.value : 'user-plus';

				<app-svg [icon]="iconValue | lowercase" [size]="18" squared />
				{{ icon.label }}
			</span>
		</ng-template>

		<select appThemed label="Icon" formControlName="icon" [optionTemplate]="iconOption">
			<option value="">Select an icon</option>

			@for (icon of icons; track $index) {
				<option [attr.value]="icon.value">{{ icon.name }}</option>
			}
		</select>

		<button appThemed type="submit" [disabled]="form.invalid" color="accent">
			<span class="flex-row justify-center"> Create</span>
		</button>
	</form>
</section>
