<div id="notification-outlet" class="flex-col gap-2">
	@for (notification of notifications(); track notification.uuid) {
		<div class="notification flex-row align-center gap-4 p-4 br-2 surface-contrast shadow-md">
			<p class="flex-grow fs-sm color-primary">{{ notification.message }}</p>

			@if (notification.action; as action) {
				<button appThemed color="accent" (click)="runAction(notification)">
					{{ action.label }}
				</button>
			}

			<button
				appThemed
				class="color-primary"
				icon="xmark"
				[iconSize]="18"
				(click)="dismiss(notification)"
			></button>
		</div>
	}
</div>
