$horizontal-padding: var(--spacing-3);
$vertical-padding: var(--spacing-2);
$border-width: 1.5px;
$border-radius: var(--border-radius-3);
$transition-duration: 0.25s;
$clip-gap: 3px;

@mixin shell($control) {
	$glow: var(--glow-size);
	$glow-neg: calc(-1 * var(--glow-size));

	--glow-size: 6px;
	--notch-start: calc(#{$horizontal-padding} - #{$clip-gap});
	--notch-end: min(
		calc(#{$horizontal-padding} + var(--label-width) + #{$clip-gap}),
		calc(100% - #{$horizontal-padding})
	);
	--notch-mid: calc((var(--notch-start) + var(--notch-end)) / 2);

	position: relative;
	border-radius: $border-radius;

	#{$control},
	.label {
		padding: $vertical-padding $horizontal-padding;
	}

	.border-container {
		padding: calc($vertical-padding - $border-width) calc($horizontal-padding - $border-width);
	}

	#{$control} {
		position: relative;
		z-index: 1;
		width: 100%;
	}

	.label-measure {
		position: absolute;
		top: 0;
		left: 0;

		font-size: var(--font-size-sm);
		white-space: nowrap;

		visibility: hidden;
	}

	.border-container,
	.label {
		position: absolute;
		inset: 0;
	}

	.label {
		pointer-events: none;

		overflow: hidden;

		text-overflow: ellipsis;
		white-space: nowrap;

		transition:
			transform $transition-duration ease-in-out,
			font-size $transition-duration ease-in-out;
	}

	.border-container {
		overflow: hidden;
		display: flex;
		align-items: center;

		border: solid $border-width var(--color-contrast-mid);
		border-radius: $border-radius;

		clip-path: polygon(
			$glow-neg $glow-neg,
			var(--notch-mid) $glow-neg,
			var(--notch-mid) $glow,
			var(--notch-mid) $glow,
			var(--notch-mid) $glow-neg,
			calc(100% + $glow) $glow-neg,
			calc(100% + $glow) calc(100% + $glow),
			$glow-neg calc(100% + $glow)
		);

		transition:
			clip-path $transition-duration ease-in-out,
			box-shadow $transition-duration ease-in-out;
	}

	&.focused,
	&.filled {
		.border-container {
			clip-path: polygon(
				$glow-neg $glow-neg,
				var(--notch-start) $glow-neg,
				var(--notch-start) $glow,
				var(--notch-end) $glow,
				var(--notch-end) $glow-neg,
				calc(100% + $glow) $glow-neg,
				calc(100% + $glow) calc(100% + $glow),
				$glow-neg calc(100% + $glow)
			);
		}

		.label {
			transform: translateY(calc(-1 * var(--input-height) / 2 + 1px));
			font-size: var(--font-size-sm);
		}
	}

	&:hover,
	&.focused {
		$shadow: 0 0 var(--glow-size)
			color-mix(
				in oklab,
				color-mix(in oklab, var(--color-accent) 30%, transparent) 80%,
				rgb(255 210 75)
			);

		.border-container {
			border-color: var(--color-accent);
			box-shadow:
				$shadow,
				inset $shadow;
		}
	}

	&.disabled {
		pointer-events: none;
		opacity: 0.5;
	}
}
