@use './function' as func;

$base-spacing: 0.25rem !default;
$hover-opacity: 0.7 !default;

$breakpoint: (
	sm: 480px,
	md: 768px,
	lg: 1024px,
	xl: 1280px,
) !default;

$font-size: (
	sm: 0.8rem,
	md: 1rem,
	lg: 1.25rem,
	xl: 1.5rem,
	xxl: 2rem,
	xxxl: 2.75rem,
) !default;

$font-weight: (
	xxs: 100,
	xs: 200,
	sm: 300,
	md: 400,
	lg: 500,
	xl: 700,
	xxl: 800,
) !default;

$font-oblique: (
	none: 0,
	sm: 5,
	md: 10,
	lg: 15,
) !default;

$font-monospace: (
	none: 0,
	sm: 0.2,
	md: 0.4,
	lg: 0.6,
	xl: 0.8,
	xxl: 1,
) !default;

$font-casual: (
	none: 0,
	sm: 0.2,
	md: 0.4,
	lg: 0.6,
	xl: 0.8,
	xxl: 1,
) !default;

$color: (
	primary: #fffcf2,
	primary-mid: #ccc5b9,
	contrast: #252422,
	contrast-mid: #55514c,
	accent: #eb5e28,
) !default;

$dark-color: (
	primary: #252422,
	primary-mid: #403d39,
	contrast: #fffcf2,
	contrast-mid: #ccc5b9,
	accent: #eb5e28,
) !default;

$spacing: (
	1: $base-spacing * 1,
	2: $base-spacing * 2,
	3: $base-spacing * 3,
	4: $base-spacing * 4,
	6: $base-spacing * 6,
	8: $base-spacing * 8,
	10: $base-spacing * 10,
	12: $base-spacing * 12,
	16: $base-spacing * 16,
	20: $base-spacing * 20,
	24: $base-spacing * 24,
	32: $base-spacing * 32,
	40: $base-spacing * 40,
	48: $base-spacing * 48,
	56: $base-spacing * 56,
	64: $base-spacing * 64,
	0: 0
) !default;

$borders-radius: (
	1: $base-spacing * 1,
	2: $base-spacing * 2,
	3: $base-spacing * 3,
	4: $base-spacing * 4,
	0: 0
) !default;

$shadow-size: (
	sm: 8px 2px rgb(0 0 0 / 5%),
	md: 12px 1px rgb(0 0 0 / 10%),
	lg: 16px -1px rgb(0 0 0 / 15%),
	xl: 20px -3px rgb(0 0 0 / 20%),
	xxl: 24px -4px rgb(0 0 0 / 25%),
	none: none,
) !default;

$shadow-separation: (
	sm: 2px,
	md: 3px,
	lg: 4px,
	xl: 5px,
	xxl: 6px,
) !default;

$shadow-direction: (
	top: (
		0,
		-1,
	),
	right: (
		1,
		0,
	),
	bottom: (
		0,
		1,
	),
	left: (
		-1,
		0,
	),
) !default;

$shadow: func.generate-shadow-map($shadow-size, $shadow-separation, $shadow-direction) !default;
