@layer base {
	:root {
		--color-slower: rgb(255 220 220);
		--color-faster: rgb(220 255 220);
		--color-overlay: rgb(0 0 0);
		--opacity-overlay: 30%;
	}

	[data-theme='dark'] {
		--color-slower: rgb(100 20 20);
		--color-faster: rgb(20 80 20);
		--color-overlay: rgb(255 255 255);
		--opacity-overlay: 10%;
	}
}
