.turns {
	.turn,
	.player-nick,
	.player-name,
	.hours,
	.minutes,
	.seconds,
	.icon {
		&.slower {
			background-color: rgb(255 220 220);
		}

		&.faster {
			background-color: rgb(220 255 220);
		}
	}
}


[data-theme='dark'] {
	.turns {
		.turn,
		.player-nick,
		.player-name,
		.hours,
		.minutes,
		.seconds,
		.icon {
			&.slower {
				background-color: rgb(100 20 20);
			}

			&.faster {
				background-color: rgb(20 80 20);
			}
		}
	}
}
